In [1]:
import pandas as pd

In [4]:
import os
os.chdir("/Users/mauroaz/Documents/Git_General/Capstone-03")

In [5]:
Olist = pd.read_csv("Capstone03-Tests-01\AllDataCap03.csv")

In [6]:
# NAME.isnull().values.any()
Olist.isnull().values.any()

True

In [8]:
#How to drop Nulls - 
# https://www.geeksforgeeks.org/python-pandas-dataframe-dropna/
#Olist.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)