In [1]:
import pandas as pd

In [4]:
import os
os.chdir("/Users/mauroaz/Documents/Git_General/Capstone-03/Capstone03-Tests-01")

In [5]:
Olist = pd.read_csv("Capstone03-Tests-01\AllDataCap03.csv")

In [7]:
Olist.shape

(117601, 34)

In [8]:
# NAME.isnull().values.any()
Olist.isnull().values.any()

True

In [9]:
#How to drop Nulls - 
# https://www.geeksforgeeks.org/python-pandas-dataframe-dropna/
Olist.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,Unnamed: 0,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,...,1141.0,1.0,8683.0,54.0,64.0,31.0,1,credit_card,2,146.87
1,1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,...,1141.0,1.0,8683.0,54.0,64.0,31.0,1,credit_card,1,275.79
2,2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,...,1141.0,1.0,8683.0,54.0,64.0,31.0,1,credit_card,1,275.79
3,3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,...,1141.0,1.0,8683.0,54.0,64.0,31.0,1,credit_card,7,140.61
4,4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,...,1141.0,1.0,8683.0,54.0,64.0,31.0,1,credit_card,10,137.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117594,117594,59168d27c5da6a50e3d1f03d482e80b2,393c2ace23a135d0bcc7e70167448e16,47800,barreiras,BA,c382d84d35f4d874b1f1c372f4bde27c,delivered,2018-07-20 09:42:40,2018-07-20 15:05:22,...,1879.0,1.0,2250.0,16.0,28.0,16.0,1,boleto,1,161.37
117596,117596,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,...,433.0,1.0,200.0,40.0,7.0,32.0,1,credit_card,3,72.18
117598,117598,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,...,835.0,8.0,3211.0,36.0,53.0,22.0,1,credit_card,6,224.44
117599,117599,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,...,63.0,1.0,6185.0,63.0,11.0,20.0,1,credit_card,5,167.79
117600,117600,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,...,63.0,1.0,6185.0,63.0,11.0,20.0,2,credit_card,1,32.13

In [10]:
Olist.isnull().values.any()

True

In [11]:
Olist.shape

(117601, 34)

In [12]:
Olist.dtypes

Unnamed: 0                         int64
customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
dtype: object

In [13]:
new_data = Olist.dropna(axis = 0, how ='any')

In [14]:
new_data.shape

(113390, 34)

In [15]:
new_data.isnull().values.any()

False

In [ ]:
import statsmodels.formula.api as smf
linear_model = smf.ols(formula='customer_unique_id ~ customer_state + price', data=new_data)
fitted_model = linear_model.fit()
fitted_model.summary()